<h1>LOGIN FORM</h1>

	<form method="post" action="/">
		<input placeholder="name" name="name">
		<input placeholder="email" name="email">
		<input placeholder="age" name="age">
		
		
		<button>Add</button>
	</form>
