<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="form" >
<h1 style="text-align: center;">LOGIN FORM</h1>

  </script>
	<form method="post" action="/" id="form">
		

		<input style="width: 90%; padding: 1%;  margin-left: 2%;" placeholder="USERNAME" name="username">
				

		<input style="width: 90%; padding: 1%;  margin-left: 2%;" placeholder="PASSWORD" name="password" type="password">
				

		<br>
		<br>
		<button style="background-color: black; color: white; border: none; margin-left: 2%; font-size: 130%;padding: 1%; text-decoration: none;">Verify</button>
		
	</form>
<br>
<br>
<a href="http://localhost:3500/" style="background-color: green; color: white; border: none; margin-left: 46%; font-size: 150%; text-decoration: none; padding: 1%;">Sign Up!!!</a>
<br>
<br>
<br>
<br>
<br>
<br>



</div>

<style>
	
	input:invalid
	{
		border:2px solid red;
	}
</style>